.bg{
    background-color:  #ffffff;
    margin-top: 100px;
    border-width: thin;
    border-style: solid;
    border-color: : #dddddd;
  }
  
  #bg{
    background-image: url('double-bubble-outline.png');
  }
  
  .nav-bg{
    background-color:  #ffffff;
    border-width: thin;
    border-style: solid;
    border-color: : #cccccc;
  }