body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: cadetblue;
  text-align: center;
  padding-top: 50ch;
  font-style: bold;
}
div {
  width: 150px;
  border: 10px solid white;
  padding: 40px;
  margin: auto;
  }